body.dark.tme_mode, html.theme_dark body.tme_mode {
    --box-bg: rgba(30, 30, 30, .6);
}

.tgme_widget_message_bubble {
    border-radius: 10px;
}

.tgme_channel_history {
    width: 100%;
}

.tgme_container {
    max-width: 100%;
}

.tgme_channel_history {
    margin-right: 0;
}

.tgme_widget_message {
    display: block;
}

.tgme_widget_message_bubble {
    margin: auto;
    max-width: 610px;
    background-color: var(--box-bg);
    backdrop-filter: blur(5px);
}

.tgme_widget_message_inline_keyboard {
    margin: auto;
    max-width: 70%;
}

body.twallpaper .tgme_background_pattern {
    background: url('/static/images/pattern.svg') center repeat;
}

html.theme_dark body.twallpaper .tgme_background {
    -webkit-mask: url('/static/images/pattern.svg') center repeat;
}